body{
    padding: 20px;
    /* background-color: rgb(48, 47, 47); */
}
.run{
    padding: 50px;
}
.storiesDiv{
    height: 60px;
    width: 100%;
    overflow-x:auto;
    white-space: nowrap;
    overflow-y: scroll;
    
}
.storiesDiv::-webkit-scrollbar{
    display: none;
}
.storiesSmallDiv{
    height: 30px;
    width: auto;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    overflow-x:hidden;
    /* border-radius: 60%; */
    display: inline-block;
    background-color: "blue";
}
